name: CI

on:  
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches: main
  schedule:
    - cron: "0 18 * * 1,4,6" # 1800 UTC every Monday, Thursday, Saturday

jobs:
  test-ios:
    name: Unit tests on iOS simulator
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.88.0
          targets: aarch64-apple-ios-sim

      - name: Install cross-compilation toolchain
        run: cargo install cargo-dinghy

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2

      - name: Setup iOS Simulator
        # Use the first installed iOS runtime and the first (i.e. oldest) supported iPhone device.
        run: |
          RUNTIME_ID=$(xcrun simctl list runtimes | grep iOS | cut -d ' ' -f 7 | tail -1)
          SIM_ID=$(xcrun simctl create Test-iPhone com.apple.CoreSimulator.SimDeviceType.iPhone-11 $RUNTIME_ID)
          xcrun simctl boot $SIM_ID

      - name: Run unit tests (cross build)
        run: DINGHY_LOG=trace cargo dinghy --platform auto-ios-aarch64-sim test --all-targets --all-features -vvv
